# Ignore Python temporary files
*.pyc
__pycache__
build
dist
gateware
litex_boards.egg-info
*.o
*.d
*.a
*.bat
*.elf
*.ltx
*.pb
*.rpt
*.rpx
*.jou
*.log
*.vdi
*.bit
*.bin
*.sof
*.dcp
*.c
*.h
*.ld
*.mak
